<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.davidmiguel.godentist.managetreatments">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_fea_manage_treatments">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
